/*COLORS*/
$bcg-color: #F5F5F2;
$orange-color: #F58220;
$turquise-color: #80BFCA;
$sidebar-color: #191919;
$sidebar-hover-color: #282828;
$main-font-color: #A6A6A6;
$main-font-hover-color: #FFFFFF;


/*FONTS*/
$brand-font:'Roboto',
sans-serif;
$paragraph-font:'Roboto',
sans-serif;


/*FONTS SIZE*/
$sidebar-font-size: 18px;

/*BUTTONS*/