/*COLORS*/
$bcg-color: #F5F5F2;
$orange-color: #F58220;
$turquise-color: #56819F;
$sidebar-color: #191919;
$sidebar-hover-color: #282828;
$header-main-color:#9c9c9c;
$main-font-color: #808080;
$main-font-hover-color: #FFFFFF;


/*FONTS*/
$brand-font:'Roboto',
sans-serif;
$paragraph-font:'Roboto',
sans-serif;


/*FONTS SIZE*/
$sidebar-font-size: 20px;

/*BUTTONS*/